@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin:0;
    padding:0;
}

body{
    font-family: "Nunito", serif; 
    color: #4c6d74;
    background-color: #faf2e8;
    font-weight: 40px;
}

header{
    background: linear-gradient(to right, #b2caa8,#cfd6b4 );
    text-align: center;
    padding-top:20px;
    padding-bottom: 25px;
}


nav a {
    text-decoration: none;
    color:#4c6d74;
}

nav a:hover {
    color:rgb(218, 164, 50);
}

main {
    text-align:center
}

#cabecalho {
    font-family: "Shadows Into Light", serif;
    color:#4c6d74;
    text-align:center;
    margin-top: 20px;
    margin-bottom: 16px;
}