@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barriecito&display=swap');

*{
    margin:0;
    padding:0;
    
}

body{
    font-family: "Nunito", serif; 
    color: #4c6d74;
    background-color:antiquewhite;
    font-weight: 400;
}
body a{
    text-decoration:none;
    color:#4c6d74
}
body a:hover{
    color:antiquewhite
}

header{
    background: linear-gradient(to right, #8ea086,#cfd6b4 );
    text-align: center;
    padding-top:20px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

nav{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color:#4c6d74;
    border-radius: 10px;
    position: relative;
}

nav a:hover {
    color:#fffefd;
    margin: 0, 20;

}

main {
    padding: 20px;
    text-align:center
}


#cabecalho {
   
    font-family: "Barriecito", serif;
    color:#4c6d74;
    text-align:center;
    margin-top: 20px;
    margin-bottom: 16px;
    font-size: 50px;
}

#cabecalho a {
    text-decoration: none;
    color:#4c6d74
}

h1 {
    text-decoration: none;
    padding: 25px;
}

/*Imagens!*/

figure{
    margin-bottom: 15px;
    text-align:center;
}
figure img{
    width: 550px;
    height: auto;
    border-radius: 5px;
}

.main-container{
    display:flex;
    /*background-color:#dbc7ac;*/
    gap: 20px;
    max-width: 1000px;
    margin:0 auto;
    flex-wrap:wrap;
}
.main-container h2 {
    color:#12262b;
    padding:5px;
    font-weight: 450;
}

.main-container p{
    color:rgb(26, 27, 31)
}

.main-block{
    background-color:#dbc7ac;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex: 1 1 200px;
    justify-content: center;
    box-shadow:0 4px 6px;
    align-items: center;
    padding: 20px;
 }

.main-block a{
    color:#4c6d74;
    background-color:antiquewhite;
    border-radius: 15px;
    padding: 5px 12px;
    max-width: 150px;
    transition: all 0.5s;
}

.main-block a:hover{
    color:#4c6d74;
    background-color:#daa432;
}
#topo{
    padding-top: 20px;
}
#topo a{
    text-decoration: none;
    color:#4c6d74
}
#topo a:hover{
    color:rgb(218, 164, 50);
}

